version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: services/api/Dockerfile
    ports:
      - "8000:8000"
    environment:
      APP_ENV: dev
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/finintel
      REDIS_URL: redis://redis:6379/0
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672//
      VECTOR_URL: http://qdrant:6333
      CELERY_BROKER_URL: redis://redis:6379/0
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - qdrant

  worker:
    build:
      context: .
      dockerfile: services/worker/Dockerfile
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/finintel
      REDIS_URL: redis://redis:6379/0
      RABBITMQ_URL: amqp://guest:guest@rabbitmq:5672//
      VECTOR_URL: http://qdrant:6333
      CELERY_BROKER_URL: redis://redis:6379/0
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - qdrant

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: finintel
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  qdrant:
    image: qdrant/qdrant:v1.11.0
    ports:
      - "6333:6333"

volumes:
  pg_data:
